.hero-section {
    padding: 1rem 0;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__list {
    width: 100%;
    max-width: 200px;
    border-right: 1px solid grey;
}

.hero__list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 0 0;
}